{% extends "Base.html" %}

{% block title %}
Password reset for classpace user {{ user.email }}!
{% endblock title %}

{% block description %}
Here is a button down below, click on it and you will proceed to reset your current password.
If you didn't mean to do it just ignore that message and probably consider to change your email address on classpace.
{% endblock description %}

{% block button_text %}
Reset password
{% endblock button_text %}

{% block button_link %}
{{ user.hyperlink }}
{% endblock button_link %}
